

<div class="modal-dialog">
  <div class="modal-content">

<!--<div class="col-md-6 col-md-offset-3">-->

	<div class="edit-book-form"> <!--BOX SHADOW-->

		 <div class="modal-header" style="background: linear-gradient(to top, #1a936f 0%, #88d498 100%); color: white">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
           <center><h5 class="modal-title" style=" font-size: 20pt; font-family: Great Vibes">Edit Review</h5></center>
          
   		 </div>

        <br>

		<!--<h1>Edit Review</h1>-->

		<%= simple_form_for([@book, @review], remote: true) do |f| %>
			<div id="rating-form">
				<label>Rating</label>
			</div>
			<%= f.input :comment %>
			<%= f.button :submit, :class => 'btn-custom4', onclick: "sweetEditReview();" %>	<!--COMMENT BUTTON-->

			<!--SWEET ALERT FOR ADDING REVIEWS-->
             <script type="text/javascript">
                function sweetEditReview(){         
                    Swal.fire({
                      position: 'top-end',
                      type: 'success',
                      title: 'Edit review successfully!',
                      showConfirmButton: false,
                      timer: 1500
                    })
                } 
            </script>
             <!--END-->

		<% end %>	

	</div>
	
</div>
	</div>
	
</div>
<!--</div>-->

<script>
	$('#rating-form').raty({
		path: '/assets/',
		scoreName: 'review[rating]'
	});
</script>

